@font-face {
    font-family: "Aleo-Bold";
    src: url(/fonts/aleo-bold-webfont.woff) format("woff"), url(/fonts/aleo-bold-webfont.woff2) format("woff2");
    font-weight: bold;
    font-display: wrap;
}

@font-face {
    font-family: "Aleo-Light";
    src: url(/fonts/aleo-light-webfont.woff) format("woff"), url(/fonts/aleo-light-webfont.woff2) format("woff2");
    font-weight: normal;
    font-display: wrap;
}

@font-face {
    font-family: "Aleo-Reg";
    src: url(/fonts/aleo-regular-webfont.woff) format("woff"), url(/fonts/aleo-regular-webfont.woff2) format("woff2");
    font-weight: 400;
    font-display: wrap;
}

* {
    margin: 0;
    padding: 0;
    transition: all 0.7s ease;
}

body {
    box-sizing: border-box;
    border: 15px solid white;
    font-family: "Josefin Sans", sans-serif;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
        width: 0;
    }
}

.container {
    max-width: 1770px;
    margin: auto;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 100vh;
    // min-height: 500px;
    max-height: 820px;


    &-wrapper {
        background-image: url(../images/bg-1.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

    &-title {
        margin-top: 15%;
        margin-bottom: 1rem;
        font-weight: 700;
        font-size: 48px;
        color: #ffffff;
        letter-spacing: 4.8px;
        line-height: 26px;
        text-transform: uppercase;
    }

    &-desc {
        margin-bottom: 2%;
        color: #ffffff;
        font-size: 22px;
        letter-spacing: 6.82px;
        line-height: 26px;
        text-align: center;
    }

    &-search {
        margin-bottom: 8%;
    }

    &-input {
        box-sizing: border-box;
        border: 2px solid transparent;
        padding: 20px;
        width: 500px;
        height: 60px;
        font-size: 22px;
        line-height: 26px;
    }

    &-scroll {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &-form {
        display: flex;
        justify-content: center;
    }

    &-button {
        box-sizing: border-box;
        width: 150px;
        height: 60px;
        border: 2px solid #ffffff;
        background: url("../images/icon-button.svg") no-repeat 90%;
        background-color: #5474fd;
        color: #ffffff;
        font-family: "Aleo-Reg";
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 1.4px;
        line-height: 26px;
        text-transform: uppercase;
        outline: none;
        box-shadow: none;

        &:hover {
            cursor: pointer;
            background-color: black;
        }
    }

    &-navigation {
        position: relative;
        margin-top: auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        height: 80px;
        width: 100%;
        background-color: #5474fd;
    }

    &-logo {
        color: #ffffff;
        font-size: 24px;
        font-weight: 700;
        letter-spacing: 2.4px;
        line-height: 26px;
        text-transform: uppercase;
    }
}

input::-webkit-input-placeholder {
    color: #999999;
    font-size: 14px;
    letter-spacing: 2.8px;
    line-height: 26px;
    text-align: center;
}

.header-scroll {
    &-text {
        margin-bottom: 0.5em;
        color: #ffffff;
        font-size: 14px;
        letter-spacing: 2.8px;
        line-height: 26px;
    }

    &-icon {
        text-align: center;
    }

    &-link {
        text-decoration: none;
    }

    &:hover {
        transform: scale(1.2);
    }
}

.scroll-icon {
    width: 15px;
    height: 15px;
}

.header-nav-list {
    display: flex;
}

#myLinks {
    list-style: none;
    display: flex;
}

.header-nav-item {
    margin-right: 3rem;
}

.header-nav-item:last-child {
    margin-right: 0;
}

.nav-item-link {
    color: #ffffff;
    font-family: "Aleo-Reg";
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    text-transform: uppercase;
    text-decoration: none;

    &:hover {
        color: black;
    }
}

.icon {
    display: none;
    text-decoration: none;
}

.nav-span {
    margin-right: 10px;
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
    line-height: 26px;
    text-transform: uppercase;
}

.nav-icon {
    margin: 0;
    width: 2rem;
    height: 2rem;
}

.btn {
    width: 225px;
    height: 60px;
    background-color: #5474fd;
    color: #ffffff;
    font-family: "Aleo-Reg";
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1.2px;
    line-height: 26px;
    text-transform: uppercase;

    &:hover {
        cursor: pointer;
        background-color: black;
    }
}

.why {
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-image: url(../images/bg-2.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    max-height: 685px;

    &-container {
        width: 90%;
        margin: auto;
    }

    &-description {
        max-width: 560px;
    }

    &-title {
        margin-bottom: 3rem;
        color: #ffffff;
        font-family: "Aleo-Reg";
        font-size: 36px;
        font-weight: 400;
        line-height: 26px;
    }

    &-para {
        margin-bottom: 3rem;
        color: #e8e8e8;
        font-size: 16px;
        letter-spacing: 1.6px;
        line-height: 26px;
    }

    &-pictures {
        display: grid;
        grid-template-columns: 135px 205px 135px;
        grid-template-rows: repeat(2, 220px);
        gap: 10px;
    }

    &-img1 {
        width: 100%;
        height: 100%;
        grid-row: 1/2;
        grid-column: 1/3;
    }

    &-img2 {
        width: 100%;
        height: 100%;
        grid-row: 2/3;
        grid-column: 2/4;
    }
}

.book {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 337px;
    background: #333333;

    &-search {
        margin-bottom: 1rem;
        text-align: center;
    }

    &-select {
        margin-bottom: 1rem;
        text-align: center;
    }

    &-enjoy {
        margin-bottom: 1rem;
        text-align: center;
    }

    &-para {
        color: #e8e8e8;
        font-family: "Aleo-Reg";
        font-size: 36px;
        font-weight: 400;
        line-height: 26px;
    }

    &-img {
        margin-bottom: 2rem;
        width: 60px;
        height: 60px;
    }

    &-decor1 {
        position: absolute;
        top: 30px;
        left: 20%;
        border-radius: 50%;
        border-top: 1px dashed #ffffff;
        width: 330px;
        height: 160px;
        opacity: 0.5;
    }

    &-decor2 {
        position: absolute;
        top: 30px;
        left: 55%;
        border-radius: 50%;
        border-top: 1px dashed #ffffff;
        width: 330px;
        height: 160px;
        opacity: 0.5;
    }
}

.places {
    &-first {
        display: flex;
        justify-content: flex-start;
        box-sizing: border-box;
        padding: 10rem;
        background-image: url(../images/place-first.png);
        background-repeat: no-repeat;
        background-size: cover;
        max-height: 700px;
        height: 100vh;
    }

    &-second {
        display: flex;
        justify-content: flex-end;
        box-sizing: border-box;
        padding: 10rem;
        background-image: url(../images/place-second.png);
        background-repeat: no-repeat;
        background-size: cover;
        max-height: 700px;
        height: 100vh;
    }
}

.card {
    padding: 3rem 2rem;
    box-sizing: border-box;
    max-width: 540px;
    max-height: 370px;
    background-color: #232323;
    opacity: 0.9;

    &-country {
        margin-bottom: 1rem;
        color: #e8e8e8;
        font-size: 20px;
        letter-spacing: 1.5px;
        line-height: 26px;
    }

    &-title {
        margin-bottom: 1rem;
        color: #ffffff;
        font-size: 20px;
        line-height: 26px;
        text-transform: uppercase;
    }

    &-desc {
        margin-bottom: 2rem;
        color: #e8e8e8;
        font-size: 16px;
        line-height: 26px;
    }
}

.tourists {
    padding: 6.5rem 2rem;
    box-sizing: border-box;
    background-image: url(../images/bg-4.png);
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 730px;
    height: 100vh;

    &-title {
        margin-bottom: 5rem;
        color: #ffffff;
        font-family: "Aleo-Reg";
        font-size: 36px;
        font-weight: 400;
        line-height: 32px;
        text-align: center;
    }

    &-content {
        display: flex;
        justify-content: center;
        flex-basis: 25%;
        flex-grow: 0;
        text-align: center;
    }

    &-card {
        box-sizing: border-box;
        padding: 3rem 1rem 1.4rem 4rem;
        max-width: 665px;
        background-color: #333333;
    }

    &-name {
        margin-bottom: 1rem;
        color: #fefefe;
        font-size: 20px;
        line-height: 26px;
        text-transform: uppercase;
    }

    &-text {
        color: #e8e8e8;
        font-size: 16px;
        line-height: 26px;
        text-align: justify;
    }

    &-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #232323;
    height: 268px;

    &-logo {
        color: #ffffff;
        font-size: 24px;
        font-weight: 700;
        letter-spacing: 3.36px;
        line-height: 26px;
        text-transform: uppercase;
    }

    &-subtitle {
        margin-bottom: 1rem;
        color: #ffffff;
        font-size: 16px;
        letter-spacing: 1.6px;
        line-height: 26px;
    }

    &-list {
        display: flex;
        list-style: none;
    }
}

.contacts-list {
    &-item {
        margin-right: 1em;

        &:hover {
            transform: scale(2);
        }
    }
}

.contacts-list-item:last-child {
    margin-right: 0;
}

.fab {
    color: white;
}

.fa-linkedin-in {
    color: #5474fd;
}

.fa-quote-left {
    position: relative;
    left: 0;
    top: -10px;
    color: #5474fd;
}

@media screen and (max-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media screen and (max-width: 1050px) {
    .why-description {
        margin-bottom: 3rem;
    }

    .why {
        padding: 3rem 1rem 1rem;
        max-height: none;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .tourists {
        max-height: unset;
        height: 100%;
    }

    .tourists-content {
        flex-direction: column;
    }

    .tourists-card {
        max-width: unset;
    }
}

@media screen and (max-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media screen and (max-width: 900px) {
    .icon {
        display: flex;
        align-items: center;
    }

    #myLinks {
        position: absolute;
        top: -183px;
        left: 0;
        width: 100%;
        background-color: black;
        display: none;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .nav-item-link {
        font-size: 22px;
    }

    .header-nav-item {
        margin: 10px 0 10px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 720px;
    }

    .why-pictures {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 711px) {
    .header-form {
        flex-direction: column;
        align-items: center;
    }

    .header-button {
        width: 500px;
    }

    .header-desc {
        margin-bottom: 2rem;
    }

    .header-input {
        margin-bottom: 2rem;
    }

    .why-img1,
    .why-img2 {
        grid-column: 1/4;
    }

    .why-description {
        text-align: center;
    }

    .places-first,
    .places-second {
        padding: 5%;
    }

    .book {
        padding: 2rem;
        flex-direction: column;
    }
}

@media screen and (max-width: 576px) {
    body {
        border: none;
    }

    .container {
        max-width: 540px;
    }

    .header-input {
        max-width: 400px;
    }

    .header-button {
        width: 400px;
    }
}

@media screen and (max-width: 450px) {

    .header-input,
    .header-button {
        width: 250px;
    }

    .header-title {
        font-size: 2em;
    }

    .header-logo {
        font-size: 1em;
    }

    .card {
        max-height: 450px;
    }

    .tourists {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .tourists-title {
        margin-bottom: 3rem;
    }

    .tourists-card {
        padding-left: 1rem;
    }
}

@media (orientation:landscape) {
    .header {
        min-height: 600px;
    }

    .places-first,
    .places-second {
        height: auto;
    }
}